* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

.container1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(black, transparent), url(../assets/zoro_sunset.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 7.5em;
  position: relative;
}

.container1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to top, #000000, transparent);
  z-index: 1;
}

.navi nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5em 6.5em;
  text-transform: uppercase;
  z-index: 10;
}
.navi nav ul {
  text-align: right;
}
.navi nav li {
  display: inline-block;
  /* float: left; */
  list-style-type: none;
  margin: 10px 1.5em;
}
.navi nav li a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
.navi nav li a #home,
.navi nav li a #explore,
.navi nav li a #contact,
.navi nav li a #skills {
  background-image: linear-gradient(#ffffff, #ffffff);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}
.navi nav li a #home:hover,
.navi nav li a #explore:hover,
.navi nav li a #contact:hover,
.navi nav li a #skills:hover {
  background-size: 100% 100%;
  color: black;
}

.data01 {
  color: white;
  position: absolute;
  bottom: 10%;
  text-transform: uppercase;
  font-size: 1%;
}
.data01 p {
  font-size: 4.5rem;
  font-weight: 600;
}
.data01 h1 {
  font-family: Poppins, sans-serif;
  font-size: 12rem;
  line-height: 0.8em;
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url(../assets/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: move 20s linear infinite;
}
@keyframes move {
  100% {
    background-position: 2000px 0;
  }
}
.data01 h3 {
  font-size: 50px;
  font-weight: 600;
}

.container2 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/blackbg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

/* .container2::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom,#000000,transparent);
    z-index: 1;
} */
.data02 {
  color: white;
  width: 53%;
  /* padding-left: 250px;
  padding-right: 350px; */
}
.data02 p {
  font-size: 2rem;
  text-align: justify;
}

.container3 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/blackbg.jpg);
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

#thingsm {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 33%;
}

.thingsmain {
  list-style: circle;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 35%;
  width: 50%;
}
.thingsmain01 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.things {
  align-self: flex-start;
  font-size: 2rem;
  font-weight: 550;
  text-transform: uppercase;
}

.things2 {
  align-self: flex-end;
}
.things2 li {
  font-size: 50px;
  cursor: pointer;
}

.container4 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../assets/blackbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}

.data04 {
  color: white;
}
.data04 h1 {
  text-align: center;
  font-size: 4rem;
  line-height: 60px;
  font-weight: 500;
}
.data04 h2 {
  padding-bottom: 50px;
  text-align: left;
}

.socials {
  width: 40vh;
}
.socials ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials li {
  display: inline-block;
  list-style-type: none;
  top: 0;
}
.socials a {
  color: white;
  text-decoration: none;
}
.socials a .Twitter,
.socials a .Github,
.socials a .Instagram {
  background-image: linear-gradient(#ffffff, #ffffff);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}
.socials a .Twitter:hover,
.socials a .Github:hover,
.socials a .Instagram:hover {
  background-size: 100% 100%;
  color: black;
}

.copyright {
  color: white;
  position: absolute;
  bottom: 5%;
}
.copyright span {
  font-family: poppins, sans-serif;
}/*# sourceMappingURL=style.css.map */